.services-container {
  width: 100%;
  background-image: url(../../assets/stacey.jpg);
  background-size: cover;
  background-position: left;
}

.services-container .container {
  width: 80%;
  margin: auto;
  padding: 2rem;
  background-color: transparent;
  border-radius: 10px;
}

.services-container .bottom-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .bottom-section .service {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background: #fff;
  padding: 0.5rem 0.5rem;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
}

.service-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-primary-variant);
  display: flex;
  justify-content: center;
  align-items: center;
}

.services-container .bottom-section .service h3 {
  color: var(--color-bg);
}

.services-container .bottom-section .service p {
  color: var(--color-bg);
}

@media (max-width: 1370px) {
  .services-container .bottom-section .service {
    width: 40%;
    justify-content: center;
    gap: 3rem;
  }
}
@media (max-width: 1045px) {
  .services-container .bottom-section .service {
    width: 60%;
    justify-content: start;
  }
}
@media (max-width: 800px) {
  .services-container .top-section h2 {
    font-size: 1.7rem;
    letter-spacing: normal;
    margin: 2rem 0;
  }
  .services-container .bottom-section .service {
    width: 100%;
    padding: 0.5rem 1rem;
    gap: 1rem;
  }
  .services-container .bottom-section .service h3 {
    font-size: 1.2rem;
  }
  .services-container .bottom-section .service p {
    font-size: 1rem;
  }
}
