.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.loader-icon {
    animation: spin 1s linear infinite;
    width: 80px;
    height: 80px;
}

@keyframes spin {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.loader-text {
    letter-spacing: 1.2px;
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}