.hero{
    background-image: url(../../assets/Hero-image.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content{
    text-align: center;
    color: #fff;
}

.hero-content h1{
    font-size: 3rem;
    margin: 5rem 0 1rem  0;

}

.hero-content p{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 2rem;
}
    .buttons button{
        width: 30%;
    }

@media (max-width: 1024px) {
    .hero-content h1{
        font-size: 2.5rem;
    }

    .hero-content p{
        font-size: 1.2rem;
    }
    .buttons{
        gap: 1rem;
        flex-direction: column;
        align-items: center;
    }
    .buttons button{
        width: 45%;
    }

}
@media (max-width: 800px) {
    .hero-content h1{
        font-size: 2rem;
    }
    .buttons button{
        width: 60%;

    }

}



