.Destinations-container{
    width: 80%;
    margin: 3rem  auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;

}
.Destinations-item{
    width: calc(25% - 20px);
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.3);
    transition: var(--transition);
}
.Destinations-item img{
    width: 100%;
    height: 220px;
    object-fit: cover;
    transition: var(--transition);
}
.Destinations-item:hover{
    scale: 1.05;
}
.overlay{
    padding: 1rem;
}
.overlay h3{
    color: var(--color-bg);
    font-size: 1.5rem;
    margin-bottom: 0.2rem;
}
.overlay p{
    color: var(--color-bg);
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}
.overlay p span{
    color: var(--color-primary);
    font-weight: 600;
}
.more-dest{
    display: flex;
    justify-content: center;
    margin: 2rem 0;
}
.more-dest button{
    padding: 1rem 2rem;
    border-radius: 8px;
    border: 1px solid var(--color-bg);
    background-color: transparent;
    color: var(--color-bg);
    font-size: 1.2rem;
    cursor: pointer;
    transition: var(--transition);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.more-dest button:hover{
    background-color: var(--color-bg);
    color: var(--color-white);
}

@media (max-width: 1024px) {
        .Destinations-item{
            width: 48%;

        }
    }
@media (max-width: 700px) {
        .Destinations-item{
            width: 100%;
        }
        .Destinations .top-section h2{
            font-size: 1.9rem;
        }
    }

